@font-face {
    font-family: "Botoes";
    src: url("Fontes/Alkatra-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "texto";
    src: url("Fontes/DeliciousHandrawn-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Dosis";
    src: url("Fontes/Dosis-VariableFont_wght.ttf") format("truetype");
}

.topo h1 {
    color: #000000;
    font-size: 50px;
}

.menu {
    list-style: none;	
    float:inline-start;
}

.menu li a {
    font-family: "Botoes";
    font-size: 14px;
    background-color: #ffffff;
    color: #000000;
    display: block;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 5px;
    transition: background-color 1s ease;
}

.menu li a:hover{
    background-color: #006eff ;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

p {
    font-size: 22px;
    color: #000000;
    font-family: "Dosis";
    margin-left: 10px;
}

h1 {
    font-family: "Dosis";
    font-size: 30px;
    margin-left: 10px;
}

h2 {
    font-family: "Dosis";
    font-size: 26px;
    margin-left: 10px;
}

.menu-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5em;
  background-color: #acacac;
  font-family: arial;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; 
}

/*Hover camisetas femininas*/
.camisetafe1 {
  position: relative;
  display: inline-block;
}

.camisetafe1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe1:hover::before {
  opacity: 1;
}

.camisetafe2 {
  position: relative;
  display: inline-block;
}

.camisetafe2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe2:hover::before {
  opacity: 1;
}

.camisetafe3 {
  position: relative;
  display: inline-block;
}

.camisetafe3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe3:hover::before {
  opacity: 1;
}

.camisetafe4 {
  position: relative;
  display: inline-block;
}

.camisetafe4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe4:hover::before {
  opacity: 1;
}

.camisetafe5 {
  position: relative;
  display: inline-block;
}

.camisetafe5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe5:hover::before {
  opacity: 1;
}

/*linha 2*/

.camisetafe6 {
  position: relative;
  display: inline-block;
}

.camisetafe6::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe6:hover::before {
  opacity: 1;
}

.camisetafe7 {
  position: relative;
  display: inline-block;
}

.camisetafe7::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe7:hover::before {
  opacity: 1;
}

.camisetafe8 {
  position: relative;
  display: inline-block;
}

.camisetafe8::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe8:hover::before {
  opacity: 1;
}

.camisetafe9 {
  position: relative;
  display: inline-block;
}

.camisetafe9::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe9:hover::before {
  opacity: 1;
}

.camisetafe10 {
  position: relative;
  display: inline-block;
}

.camisetafe10::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe10:hover::before {
  opacity: 1;
}

/*linha 3*/

.camisetafe11 {
  position: relative;
  display: inline-block;
}

.camisetafe11::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe11:hover::before {
  opacity: 1;
}

.camisetafe12 {
  position: relative;
  display: inline-block;
}

.camisetafe12::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe12:hover::before {
  opacity: 1;
}

.camisetafe13 {
  position: relative;
  display: inline-block;
}

.camisetafe13::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe13:hover::before {
  opacity: 1;
}

.camisetafe14 {
  position: relative;
  display: inline-block;
}

.camisetafe14::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe14:hover::before {
  opacity: 1;
}

.camisetafe15 {
  position: relative;
  display: inline-block;
}

.camisetafe15::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.camisetafe15:hover::before {
  opacity: 1;
}

/*Short Feminino*/
/*linha 1*/

.shortfe1 {
  position: relative;
  display: inline-block;
}

.shortfe1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortfe1:hover::before {
  opacity: 1;
}

.shortfe2 {
  position: relative;
  display: inline-block;
}

.shortfe2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortfe2:hover::before {
  opacity: 1;
}

.shortfe3 {
  position: relative;
  display: inline-block;
}

.shortfe3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortfe3:hover::before {
  opacity: 1;
}

.shortfe4 {
  position: relative;
  display: inline-block;
}

.shortfe4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortfe4:hover::before {
  opacity: 1;
}

.shortfe5 {
  position: relative;
  display: inline-block;
}

.shortfe5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortfe5:hover::before {
  opacity: 1;
}

/*linha 2 */

.shortfe6 {
  position: relative;
  display: inline-block;
}

.shortfe6::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortfe6:hover::before {
  opacity: 1;
}

.shortfe7 {
  position: relative;
  display: inline-block;
}

.shortfe7::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortfe1:hover::before {
  opacity: 1;
}

.shortfe7 {
  position: relative;
  display: inline-block;
}

.shortfe7::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortfe7:hover::before {
  opacity: 1;
}

.shortfe8 {
  position: relative;
  display: inline-block;
}

.shortfe8::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortfe8:hover::before {
  opacity: 1;
}

.shortfe9 {
  position: relative;
  display: inline-block;
}

.shortfe9::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortfe9:hover::before {
  opacity: 1;
}

.shortfe10 {
  position: relative;
  display: inline-block;
}

.shortfe10::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shortfe10:hover::before {
  opacity: 1;
}

/*Calça Feminina*/
/*linha 1*/
.calçafe1 {
  position: relative;
  display: inline-block;
}

.calçafe1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.calçafe1:hover::before {
  opacity: 1;
}

.calçafe2 {
  position: relative;
  display: inline-block;
}

.calçafe2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.calçafe2:hover::before {
  opacity: 1;
}

.calçafe3 {
  position: relative;
  display: inline-block;
}

.calçafe3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.calçafe3:hover::before {
  opacity: 1;
}

.calçafe4 {
  position: relative;
  display: inline-block;
}

.calçafe4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.calçafe4:hover::before {
  opacity: 1;
}

.calçafe5 {
  position: relative;
  display: inline-block;
}

.calçafe5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.calçafe5:hover::before {
  opacity: 1;
}

.calçafe6 {
  position: relative;
  display: inline-block;
}

.calçafe6::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.calçafe6:hover::before {
  opacity: 1;
}

.calçafe7 {
  position: relative;
  display: inline-block;
}

.calçafe7::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.calçafe7:hover::before {
  opacity: 1;
}

.calçafe8 {
  position: relative;
  display: inline-block;
}

.calçafe8::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.calçafe8:hover::before {
  opacity: 1;
}

.calçafe9 {
  position: relative;
  display: inline-block;
}

.calçafe9::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.calçafe9:hover::before {
  opacity: 1;
}

.calçafe10 {
  position: relative;
  display: inline-block;
}

.calçafe10::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.calçafe10:hover::before {
  opacity: 1;
}

/*Moletons Femininos*/
/*linha 1*/
.moletomfe1 {
  position: relative;
  display: inline-block;
}

.moletomfe1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.moletomfe1:hover::before {
  opacity: 1;
}

.moletomfe2 {
  position: relative;
  display: inline-block;
}

.moletomfe2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.moletomfe2:hover::before {
  opacity: 1;
}

.moletomfe3 {
  position: relative;
  display: inline-block;
}

.moletomfe3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.moletomfe3:hover::before {
  opacity: 1;
}

.moletomfe4 {
  position: relative;
  display: inline-block;
}

.moletomfe4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.moletomfe4:hover::before {
  opacity: 1;
}

.moletomfe5 {
  position: relative;
  display: inline-block;
}

.moletomfe5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.moletomfe5:hover::before {
  opacity: 1;
}

.moletomfe6 {
  position: relative;
  display: inline-block;
}

.moletomfe6::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.moletomfe6:hover::before {
  opacity: 1;
}

.moletomfe7 {
  position: relative;
  display: inline-block;
}

.moletomfe7::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.moletomfe7:hover::before {
  opacity: 1;
}

.moletomfe8 {
  position: relative;
  display: inline-block;
}

.moletomfe8::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.moletomfe8:hover::before {
  opacity: 1;
}

.moletomfe9 {
  position: relative;
  display: inline-block;
}

.moletomfe9::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.moletomfe9:hover::before {
  opacity: 1;
}

.moletomfe10 {
  position: relative;
  display: inline-block;
}

.moletomfe10::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.moletomfe10:hover::before {
  opacity: 1;
}

/* Footer */

.menu-footer .social-media-links  img {
    margin: 0 40px;
    width: 30px;
    height: 30px;
}

.menu-footer img:hover {
    background-color: #006eff;
    background-size: 20px;
    border-radius: 15px;
}

a.links:link{
    text-decoration:solid;
}

a.links:visited {
    text-decoration: none;
    color: #ff6600;
}

a.links:hover {
    color: #006eff;
    opacity: 0.8;
}
