@font-face {
    font-family: "Botoes";
    src: url("Fontes/Alkatra-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "texto";
    src: url("Fontes/DeliciousHandrawn-Regular.ttf") format("truetype");
}

.topo h1 {
    color: #000000;
}

button {
    font-family: "Botoes";
    font-size: 14px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 12px;
    border-radius: 10px;
    border-color: transparent;
}

button:hover{
    background-color: #006eff ;
}

p {
    font-family: "texto";
    margin-left: 8px;
}

h1 {
    font-family: "texto";
    font-size: 28px;
}

h2 {
    font-family: "texto";
    font-size: 26px;
}

.menu-footer {
  background-color: #616161;
  font-family: arial;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  /* Estilo para o rodapé */
}

.menu-footer a {
    width: 10px;
    height: 10px;
}
