@font-face {
    font-family: "Botoes";
    src: url("Fontes/Alkatra-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "texto";
    src: url("Fontes/DeliciousHandrawn-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Dosis";
    src: url("Fontes/Dosis-VariableFont_wght.ttf") format("truetype");
}

.topo h1 {
    color: #000000;
    font-size: 50px;
}

.menu {
    list-style: none;	
    float:inline-start;
}

.menu li a {
    font-family: "Botoes";
    font-size: 14px;
    background-color: #ffffff;
    color: #000000;
    display: block;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 10px;
    border-color: transparent;
    margin-left: 5px;
    transition: background-color 1s ease;
}

.menu li a:hover{
    background-color: #006eff ;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

p {
    font-size: 22px;
    color: #000000;
    font-family: "Dosis";
    margin-left: 10px;
}

h1 {
    font-family: "Dosis";
    font-size: 30px;
    margin-left: 10px;
}

h2 {
    font-family: "Dosis";
    font-size: 26px;
    margin-left: 10px;
}

.menu-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5em;
  background-color: #acacac;
  font-family: arial;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; 
}

.menu-footer .social-media-links  img {
    margin: 0 40px;
    width: 30px;
    height: 30px;
}

.menu-footer img:hover {
    background-color: #006eff;
    background-size: 20px;
    border-radius: 15px;
}

a.links:link{
    text-decoration:solid;
}

a.links:visited {
    text-decoration: none;
    color: #ff6600;
}

a.links:hover {
    color: #006eff;
    opacity: 0.8;
}

/*Moda Masculina*/
.camisetasmasculinas img {
  width: auto;
  height: auto;
}

.camisetamasc1 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc1:hover::before {
    opacity: 1;
  }



  .camisetamasc2 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc2:hover::before {
    opacity: 1;
  }


.camisetamasc3 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc3:hover::before {
    opacity: 1;
  }


  .camisetamasc4 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc4:hover::before {
    opacity: 1;
  }



  .camisetamasc5 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc5:hover::before {
    opacity: 1;
  }



  .camisetamasc6 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc6:hover::before {
    opacity: 1;
  }



  .camisetamasc7 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc7:hover::before {
    opacity: 1;
  }



  .camisetamasc8 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc8::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc8:hover::before {
    opacity: 1;
  }



  .camisetamasc9 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc9::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc9:hover::before {
    opacity: 1;
  }



  .camisetamasc10 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc10::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc10:hover::before {
    opacity: 1;
  }



  .camisetamasc11 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc11::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc11:hover::before {
    opacity: 1;
  }



  .camisetamasc12 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc12::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc12:hover::before {
    opacity: 1;
  }



  .camisetamasc13 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc13::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc13:hover::before {
    opacity: 1;
  }


  .camisetamasc14 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc14::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc14:hover::before {
    opacity: 1;
  }


  .camisetamasc15 {
    position: relative;
    display: inline-block;
  }
  
  .camisetamasc15::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .camisetamasc15:hover::before {
    opacity: 1;
  }


/*Shorts Masculinos*/
.shortsmasculinos img {
  width: 500px;
  height: auto;
}

.shortmasc1 {
    position: relative;
    display: inline-block;
  }
  
  .shortmasc1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .shortmasc1:hover::before {
    opacity: 1;
  }

  .shortmasc2 {
    position: relative;
    display: inline-block;
  }
  
  .shortmasc2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .shortmasc2:hover::before {
    opacity: 1;
  }

  .shortmasc3 {
    position: relative;
    display: inline-block;
  }
  
  .shortmasc3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .shortmasc3:hover::before {
    opacity: 1;
  }

  .shortmasc4 {
    position: relative;
    display: inline-block;
  }
  
  .shortmasc4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .shortmasc4:hover::before {
    opacity: 1;
  }

  .shortmasc5 {
    position: relative;
    display: inline-block;
  }
  
  .shortmasc5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .shortmasc5:hover::before {
    opacity: 1;
  }

  .shortmasc6 {
    position: relative;
    display: inline-block;
  }
  
  .shortmasc6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .shortmasc6:hover::before {
    opacity: 1;
  }

  .shortmasc7 {
    position: relative;
    display: inline-block;
  }
  
  .shortmasc7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .shortmasc7:hover::before {
    opacity: 1;
  }

  .shortmasc8 {
    position: relative;
    display: inline-block;
  }
  
  .shortmasc8::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .shortmasc8:hover::before {
    opacity: 1;
  }

  .shortmasc9 {
    position: relative;
    display: inline-block;
  }
  
  .shortmasc9::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .shortmasc9:hover::before {
    opacity: 1;
  }

  .shortmasc10 {
    position: relative;
    display: inline-block;
  }
  
  .shortmasc10::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .shortmasc10:hover::before {
    opacity: 1;
  }

/*Calça Masculina*/

.calçamasc1 {
    position: relative;
    display: inline-block;
  }
  
  .calçamasc1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .calçamasc1:hover::before {
    opacity: 1;
  }

  .calçamasc2 {
    position: relative;
    display: inline-block;
  }
  
  .calçamasc2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .calçamasc2:hover::before {
    opacity: 1;
  }

  .calçamasc3 {
    position: relative;
    display: inline-block;
  }
  
  .calçamasc3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .calçamasc3:hover::before {
    opacity: 1;
  }

  .calçamasc4 {
    position: relative;
    display: inline-block;
  }
  
  .calçamasc4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .calçamasc4:hover::before {
    opacity: 1;
  }

  .calçamasc5 {
    position: relative;
    display: inline-block;
  }
  
  .calçamasc5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .calçamasc5:hover::before {
    opacity: 1;
  }

  .calçamasc6 {
    position: relative;
    display: inline-block;
  }
  
  .calçamasc6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .calçamasc6:hover::before {
    opacity: 1;
  }

  .calçamasc7 {
    position: relative;
    display: inline-block;
  }
  
  .calçamasc7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .calçamasc7:hover::before {
    opacity: 1;
  }

  .calçamasc8 {
    position: relative;
    display: inline-block;
  }
  
  .calçamasc8::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .calçamasc8:hover::before {
    opacity: 1;
  }

  .calçamasc9 {
    position: relative;
    display: inline-block;
  }
  
  .calçamasc9::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .calçamasc9:hover::before {
    opacity: 1;
  }

  .calçamasc10 {
    position: relative;
    display: inline-block;
  }
  
  .calçamasc10::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .calçamasc10:hover::before {
    opacity: 1;
  }

/*Moletom masculino*/

.moletommasc1 {
    position: relative;
    display: inline-block;
  }
  
  .moletommasc1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .moletommasc1:hover::before {
    opacity: 1;
  }

  .moletommasc2 {
    position: relative;
    display: inline-block;
  }
  
  .moletommasc2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .moletommasc2:hover::before {
    opacity: 1;
  }

  .moletommasc3 {
    position: relative;
    display: inline-block;
  }
  
  .moletommasc3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .moletommasc3:hover::before {
    opacity: 1;
  }

  .moletommasc4 {
    position: relative;
    display: inline-block;
  }
  
  .moletommasc4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .moletommasc4:hover::before {
    opacity: 1;
  }

  .moletommasc5 {
    position: relative;
    display: inline-block;
  }
  
  .moletommasc5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .moletommasc5:hover::before {
    opacity: 1;
  }

  .moletommasc6 {
    position: relative;
    display: inline-block;
  }
  
  .moletommasc6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .moletommasc6:hover::before {
    opacity: 1;
  }

  .moletommasc7 {
    position: relative;
    display: inline-block;
  }
  
  .moletommasc7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .moletommasc7:hover::before {
    opacity: 1;
  }

  .moletommasc8 {
    position: relative;
    display: inline-block;
  }
  
  .moletommasc8::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .moletommasc8:hover::before {
    opacity: 1;
  }

  .moletommasc9 {
    position: relative;
    display: inline-block;
  }
  
  .moletommasc9::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .moletommasc9:hover::before {
    opacity: 1;
  }

  .moletommasc10 {
    position: relative;
    display: inline-block;
  }
  
  .moletommasc10::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere a cor de fundo aqui */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .moletommasc10:hover::before {
    opacity: 1;
  }
